.Post {
  display: inline-block;
  background: white;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: calc((100% - 40px)/3);
}

.Post:nth-child(3n) {
  margin-right: 0;
}

.Post img {
  width: 100%;
}

.PostHeader {
  margin: 10px 0;
}

.PostHeader .Author {
  disply: block;
  font-size: 1rem;
  margin-bottom: 10px;
}

.PostHeader .Likes {
  display: block;
  font-size: 1rem;
}

.AuthorInfo a {
  text-decoration: none;
}

.AuthorInfo, .AuthorInfo span {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 10px;
  color: #888;
}

.likes-red {
  color: #E74C3C;
}

.likes-grey {
  color: #999;
}

.likes-grey:hover {
  color: #E74C3C;
  cursor: pointer;
}
